# Fish-Classification-Analysis

# Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Functions

# EDA

In [3]:
df = pd.read_csv("/Users/maukanmir/Downloads/fish_data.csv")
df

                    species  length  weight  w_l_ratio
0        Anabas testudineus   10.66    3.45       0.32
1        Anabas testudineus    6.91    3.27       0.47
2        Anabas testudineus    8.38    3.46       0.41
3        Anabas testudineus    7.57    3.36       0.44
4        Anabas testudineus   10.83    3.38       0.31
...                     ...     ...     ...        ...
4075  Sillaginopsis panijus   30.56    6.12       0.20
4076  Sillaginopsis panijus   29.66    6.11       0.21
4077  Sillaginopsis panijus   32.81    6.25       0.19
4078  Sillaginopsis panijus   29.78    6.11       0.21
4079  Sillaginopsis panijus   31.62    6.14       0.19

[4080 rows x 4 columns]

In [4]:
df.describe()

            length       weight    w_l_ratio
count  4080.000000  4080.000000  4080.000000
mean     17.353544     3.739875     0.252782
std       7.114684     1.040365     0.123046
min       6.360000     2.050000     0.080000
25%      11.327500     3.070000     0.170000
50%      17.350000     3.310000     0.190000
75%      22.585000     4.100000     0.340000
max      33.860000     6.290000     0.640000

In [5]:
df.dtypes

species       object
length       float64
weight       float64
w_l_ratio    float64
dtype: object